.bio {
    padding: 160px 0 120px 0;
    background-color: #3C3C3C;
    color: #fff;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
        margin-bottom: 38px;
    }

    &__text {
        font-family: $secondFont;
        color: inherit;
        font-size: 18px;
        line-height: 28px;
        max-width: 515px;
        text-align: center;
    }
}

.about-me {
    padding: 140px 0;
    background: linear-gradient(to right, #E2E2E2 50%, #F5F5F5 50%);
    &__inner {
        display: flex;
        >* {
            flex: 1 1 50%;
        }
    }
    &__empty {
        @media (max-width: $bp2) {
            display: none;
        }
    }

    &__content {
        padding-left: 65px;
        display: flex;
        flex-direction: column;        
        >* {
            margin-bottom: 40px;
        }
        >*:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $bp2) {
            padding-left: 0;
            align-items: center;
        }
    }

    // &__title {}

    &__text {
        max-width: 450px;
        >* {
            margin-bottom: 40px;
        }
        >*:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $bp2) {
            text-align: center;
        }
    }

    &__signature {
        width: 100%;
        height: 60px;
        background: url("../img/about/signature.png") 0 0 / auto no-repeat;
        @media (max-width: $bp2) {
            background-position: center;
        }
    }
    @media (max-width: $bp2) {
        background: #F5F5F5;
    }
    @media (max-width: $bp3) {
        padding: 100px 0;
    }
}

.need-a-project {
    padding: 100px 0;
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        >* {
            margin-bottom: 35px;
        }
        >*:last-child {
            margin-bottom: 0;
        }
    }

    // &__title {}

    &__text {
        max-width: 540px;
        text-align: center;
    }

    // &__btn {}
}
