.hide {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    >main {
        flex: 1 1 auto;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 30px;
    line-height: 2;
    @media (max-width: $bp5) {
        text-align: center;
    }
}

.main-title {
    font-size: 38px;
    line-height: 1.2;
}

.label {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #787878;
}

.btn {
    display: inline-block;
    padding: 23px 46px;
    background-color: $blue;
    color: #fff;
    @extend .label;
    line-height: 1;
}

.grid-btn {
    background-color: #f5f5f5;
    padding: 46px 0;
    text-align: center;
    color: #8e8e8e;
    width: 100%;
}